@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/static/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}